header .inner .pnkz {
  display: none;
}

header .inner .logo {
  display: none;
}

.content {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .content {
    max-width: initial;
  }
}

#first-view {
  position: relative;
  height: 100vh;
}

#first-view .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#first-view .inner .content {
  width: 100%;
}

#first-view .inner .content .logo {
  width: 150px;
  height: 175px;
  margin: auto;
  margin-bottom: 30px;
}

#first-view .inner .content p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.18em;
  margin-bottom: 0;
}

#first-view .effect {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-43%, -55%);
          transform: translate(-43%, -55%);
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
}

#first-view .effect span {
  mix-blend-mode: lighten;
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-animation: wave 8s infinite linear;
          animation: wave 8s infinite linear;
  background-color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#first-view .effect span:nth-child(0) {
  left: -11%;
  right: -2%;
  top: -12%;
  bottom: -5%;
  -webkit-transform-origin: 46% 53%;
          transform-origin: 46% 53%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

#first-view .effect span:nth-child(1) {
  left: -4%;
  right: -4%;
  top: -9%;
  bottom: -2%;
  -webkit-transform-origin: 47% 50%;
          transform-origin: 47% 50%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

#first-view .effect span:nth-child(2) {
  left: -11%;
  right: -4%;
  top: -10%;
  bottom: -11%;
  -webkit-transform-origin: 49% 53%;
          transform-origin: 49% 53%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

#first-view .effect span:nth-child(3) {
  left: -7%;
  right: -9%;
  top: -11%;
  bottom: -4%;
  -webkit-transform-origin: 47% 52%;
          transform-origin: 47% 52%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

#first-view .effect span:nth-child(4) {
  left: -8%;
  right: -3%;
  top: -5%;
  bottom: -11%;
  -webkit-transform-origin: 47% 52%;
          transform-origin: 47% 52%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

#first-view .effect span:nth-child(5) {
  left: -10%;
  right: -8%;
  top: -4%;
  bottom: -9%;
  -webkit-transform-origin: 48% 51%;
          transform-origin: 48% 51%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

#first-view .effect span:nth-child(6) {
  left: -9%;
  right: -11%;
  top: -5%;
  bottom: -8%;
  -webkit-transform-origin: 47% 50%;
          transform-origin: 47% 50%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

@-webkit-keyframes wave {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes wave {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 767px) {
  #first-view .inner .content .logo {
    width: 26%;
    height: 0;
    padding-top: 30.5%;
    margin-bottom: 3%;
  }
  #first-view .inner .content p {
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 0;
  }
  #first-view .effect {
    -webkit-transform: translate(-43%, -59%);
            transform: translate(-43%, -59%);
    width: 40%;
    height: 0;
    padding-top: 40%;
  }
}

#scroll-prompt {
  position: absolute;
  bottom: 120px;
  left: 50%;
  -webkit-transform: translate(-40%, 0) rotate(90deg);
          transform: translate(-40%, 0) rotate(90deg);
  color: #fff;
  letter-spacing: 0.35em;
  font-size: 11px;
  font-weight: 100;
  opacity: 0.9;
}

#scroll-prompt::after {
  content: '';
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  opacity: 0;
  -webkit-animation: scroll_line 2.4s infinite;
          animation: scroll_line 2.4s infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@media screen and (max-width: 767px) {
  #scroll-prompt {
    bottom: 60px;
    font-size: 10px;
    letter-spacing: 0.3em;
  }
}

@-webkit-keyframes scroll_line {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 80px;
    opacity: 1;
  }
  70% {
    width: 100px;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes scroll_line {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 80px;
    opacity: 1;
  }
  70% {
    width: 100px;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

#about {
  background: url(../image/common/bg/ex-image01.jpg) no-repeat top right;
  background: url(../image/common/bg/ex-image01-2.jpg) no-repeat top right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: auto;
}

#about .inner {
  padding-top: 14%;
  padding-bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#about .inner .content {
  width: 100%;
}

#about .inner .content .box {
  width: 45%;
  margin: 0;
}

#about .inner .content .profile {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 30px;
  margin-top: 30px;
}

#about .inner .content .profile p {
  margin: 0;
}

#about .inner .content .profile span {
  display: block;
}

#about .inner .content .profile .name {
  font-size: 18px;
  font-weight: 500;
}

#about .btn-area a {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #about {
    background-attachment: initial;
  }
  #about .inner {
    padding: 20% 10%;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  #about .inner .content .box {
    width: 100%;
  }
  #about .inner .content h2 {
    line-height: 1.4;
    opacity: 0.8;
    font-size: 7.4vw;
  }
  #about .inner .content .text {
    font-size: 3.4vw;
  }
  #about .inner .content .profile {
    padding-top: 4%;
    margin-top: 4.7%;
  }
  #about .inner .content .profile p {
    font-size: 3.4vw;
    opacity: 0.8;
  }
  #about .inner .content .profile .role {
    font-size: 3.5vw;
    opacity: 1;
  }
  #about .inner .content .profile .name {
    font-size: 4vw;
    opacity: 1;
  }
}

#works {
  background: url(../image/common/bg/ex-image03.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: auto;
}

#works .inner {
  padding-top: 12%;
  padding-bottom: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#works .inner .content {
  width: 100%;
}

#works .inner .content .works-list {
  padding: 20px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works .inner .content .works-list .works-image {
  display: block;
  width: 48%;
  margin-bottom: 1%;
}

#works .inner .content .works-list .works-image .mockup {
  width: 100%;
}

#works .inner .content .works-list .works-image .mockup.dev-pc {
  background: url(../works/images/device-pc.svg) no-repeat center;
  background-size: 100%;
  padding: 8% 12% 10.5%;
}

#works .inner .content .works-list .works-image:hover {
  opacity: 1;
}

#works .inner .content .works-list .works-image:hover .mockup {
  opacity: 1;
}

#works .inner .content .works-list .works-image:hover .mockup img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #works {
    background-attachment: initial;
  }
  #works .inner {
    padding: 15% 10% 18%;
    display: block;
  }
  #works .inner .content .works-list {
    padding: 0 0 0;
    display: block;
  }
  #works .inner .content .works-list .works-image {
    width: 100%;
    margin: 0 auto 2%;
  }
  #works .inner .content .works-list .works-image .mockup {
    width: 100%;
  }
  #works .inner .content .works-list .works-image .mockup.dev-pc {
    background: url(../works/images/device-pc.svg) no-repeat center;
    background-size: 100%;
    padding: 8% 12% 10.5%;
  }
  #works .inner .content .works-list .works-image:hover {
    opacity: 1;
  }
  #works .inner .content .works-list .works-image:hover .mockup {
    opacity: 1;
  }
  #works .inner .content .works-list .works-image:hover .mockup img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */