.web-closed-text {
  color: #ff1010;
  font-weight: 400;
  font-size: 15px;
}

#works .content {
  max-width: 1200px;
  margin: auto;
}

#works {
  position: relative;
}

#works h2 {
  margin-bottom: 7%;
}

#works .inner {
  padding-top: 16%;
  padding-bottom: 10%;
}

#works .inner .organize-box {
  padding-bottom: 7%;
}

#works .inner .organize-box .name-area {
  line-height: 1.7;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#works .inner .organize-box .name-area.active {
  padding: 28px 0;
  border-bottom: none;
  background-color: rgba(0, 23, 51, 0.69);
  z-index: 1;
}

#works .inner .organize-box .name-area.active::before, #works .inner .organize-box .name-area.active::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(0, 23, 51, 0.69);
}

#works .inner .organize-box .name-area.active::after {
  left: auto;
  right: -100%;
}

#works .inner .organize-box .name-area .organize-name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}

#works .inner .organize-box .name-area .organize-name .sub {
  display: inline;
  font-size: 15px;
  margin-left: 0.5em;
}

#works .inner .works-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2%;
  margin-bottom: 4%;
}

#works .inner .works-content-box:last-child {
  margin-bottom: 0;
}

#works .inner .works-content-box .works-image {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#works .inner .works-content-box .works-image .mockup {
  width: 81%;
}

#works .inner .works-content-box .works-image .mockup.dev-pc {
  background: url(../works/images/device-pc.svg) no-repeat center;
  background-size: 100%;
  padding: 6% 9% 8.5%;
}

#works .inner .works-content-box .works-image .mockup.dev-mbl {
  width: 18%;
  background: url(../works/images/device-mbl.svg) no-repeat center;
  background-size: contain;
  padding: 3% 2%;
  -webkit-transform: translate(-9%, -10%);
          transform: translate(-9%, -10%);
}

#works .inner .works-content-box .works-detail {
  width: 42%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 3% 2%;
}

#works .inner .works-content-box .works-detail .project-name {
  font-weight: 700;
  line-height: 1;
  margin: 14px 0 10px;
}

#works .inner .works-content-box .works-detail .project-name span {
  font-size: 24px;
  display: block;
}

#works .inner .works-content-box .works-detail .project-name .project-url {
  display: inline-block;
  opacity: 0.7;
  font-size: 14px;
  font-weight: 300;
}

#works .inner .works-content-box .works-detail .project-name .project-url:hover {
  opacity: 1;
}

#works .inner .works-content-box .works-detail .charge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works .inner .works-content-box .works-detail .charge li {
  font-size: 14px;
  font-weight: 400;
}

#works .inner .works-content-box .works-detail .charge li::after {
  content: '/';
  padding: 0 0.5em;
  font-size: 12px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  display: inline-block;
  opacity: 0.7;
}

#works .inner .works-content-box .works-detail .charge li:last-child::after {
  display: none;
}

#works .inner .works-content-box .works-detail .btn-area {
  display: block;
  margin-top: 20px;
}

#works .inner .works-content-box .works-detail .btn-area a {
  width: 100%;
  margin-bottom: 15px;
  padding: 0.5em 0;
  background-color: rgba(0, 0, 0, 0.07);
  border-color: rgba(0, 238, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#works .inner .works-content-box .works-detail .btn-area a span {
  display: block;
  color: #00f0ff;
  position: relative;
  margin-right: 3px;
}

#works .inner .works-content-box .works-detail .btn-area a::after {
  content: '';
  background: url(../image/common/btn/icon-link.svg) no-repeat center;
  background-size: 100%;
  width: 15px;
  height: 14px;
  display: block;
}

#works .inner .works-content-box .works-detail .btn-area a:hover {
  opacity: 1;
  -webkit-box-shadow: inset 2px 2px 0 rgba(0, 238, 255, 0.7), inset -2px -2px 0 rgba(0, 238, 255, 0.7);
          box-shadow: inset 2px 2px 0 rgba(0, 238, 255, 0.7), inset -2px -2px 0 rgba(0, 238, 255, 0.7);
}

#works .inner .works-content-box .works-detail .btn-area a.show-modal::after {
  background-image: url(../image/common/btn/icon-photo.svg);
  width: 15px;
  height: 14px;
}

#works .cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works .cat li {
  width: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.13);
  font-size: 12px;
  border-radius: 2px;
  padding: 0.1em 0.6em;
  margin: 0 3px 3px 0;
  letter-spacing: 0.1em;
}

#works .cat li.period {
  background: none;
  font-size: 15px;
  text-align: left;
  border-radius: 0;
  margin: 0;
}

.modal-dialog {
  padding: 6%;
  max-width: 1200px;
  margin: auto;
}

.modal-dialog .modal-content {
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #fff;
}

.modal-dialog .modal-body {
  padding: 6%;
  overflow: hidden;
  position: relative;
  min-height: 90.3vh;
}

.modal-dialog .modal-body .item {
  margin-bottom: 8%;
}

.modal-dialog .modal-body .item:last-child {
  margin-bottom: 4%;
}

.modal-dialog .modal-body .item h3 {
  width: 100%;
  margin-bottom: 3%;
  text-align: center;
  overflow: hidden;
}

.modal-dialog .modal-body .item h3 span {
  font-size: 18px;
  font-weight: 400;
  color: #3a3a3a;
  position: relative;
  display: inline-block;
}

.modal-dialog .modal-body .item h3 span::before, .modal-dialog .modal-body .item h3 span::after {
  content: '';
  width: 100vw;
  height: 1px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: -101.5vw;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.modal-dialog .modal-body .item h3 span::after {
  left: auto;
  right: -101.5vw;
  z-index: 0;
}

.modal-dialog .modal-body .item img {
  display: block;
  margin-bottom: 3%;
}

.modal-dialog .modal-body .item img:last-child {
  margin-bottom: 0;
}

.modal-close-btn {
  width: auto;
  text-align: center;
  background: rgba(137, 0, 0, 0.75);
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 39px;
  right: 39px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-close-btn span {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  display: block;
  opacity: 1;
  text-shadow: none;
  padding: 0.6em 0;
  width: 200px;
  letter-spacing: 0.07em;
}

.modal-close-btn:hover {
  background: rgba(137, 0, 0, 0.8);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
/*# sourceMappingURL=works.css.map */