@charset "utf-8";

@import 'breakpoint';

#about,
#career,
#skill {
  .content {
    max-width: 1200px;
    margin: auto;
  }
}

#about {
  position: relative;
  .inner {
    padding-top: 16%;
    padding-bottom: 9%;
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      .photo-box {
        width: 30%;
        border: 6px solid rgba(255, 255, 255, 0.01);
        border-radius: 50%;
        box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.4),
          0px 1px 0px rgba(255, 255, 255, 0.4),
          -1px 0px 0px rgba(255, 255, 255, 0.4),
          0px -1px 0px rgba(255, 255, 255, 0.4);
        .gallery {
          li {
            display: none;
          }
          .trigger {
            display: block;
          }
          .thmb {
            a {
              display: block;
              width: 100%;
              height: 0;
              padding-top: 100%;
              display: block;
              position: relative;
              overflow: hidden;
              border-radius: 50%;
              box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.12);
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(15deg);
                z-index: 0;
              }
              &::before {
                content: '';
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
                transition: 0.2s;
              }
              &::after {
                content: 'gallery';
                font-size: 14px;
                font-weight: 400;
                color: #0eefff;
                letter-spacing: 0.1em;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -11px 0 0 -36px;
                text-align: center;
                background: url(../image/common/btn/icon-photo.svg) no-repeat
                  center right;
                background-size: 14px;
                padding: 0 1.4em 0 0;
                z-index: 2;
                transition: 0.2s;
              }
              &:hover {
                opacity: 1;
                &::before {
                  background-color: rgba(0, 0, 0, 0.1);
                }
                &::after {
                  transform: scale(1.1);
                }
              }
            }
          }
          .caption-hidden {
            display: none;
          }
        }
      }
      .prof-box {
        width: 66%;
        .name-area {
          line-height: 1.7;
          padding-bottom: 20px;
          margin-bottom: 20px;
          position: relative;
          &::after {
            content: '';
            width: 120%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
          }
          span {
            display: block;
          }
          .role {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 400;
          }
          .name {
            font-size: 20px;
            font-weight: 500;
            .eng {
              display: inline;
            }
          }
        }
        .text-area {
          .enjoy {
            div {
              padding: 0.5em 0 0;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }
            dt {
              font-size: 14px;
              font-weight: 100;
              width: 100px;
              text-align: center;
              background: rgba(255, 255, 255, 0.13);
              font-size: 13px;
              border-radius: 2px;
              display: block;
              padding: 0.2em 0;
              margin-right: 1em;
              letter-spacing: 0.1em;
            }
            dd {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  @include max-screen($bpMobile) {
    .inner {
      padding-top: 22%;
      padding-bottom: 10%;
      .detail {
        display: block;
        position: relative;
        .photo-box {
          width: 33%;
          position: absolute;
          border-width: 3px;
          top: 0;
          right: 0;
          z-index: 9;
          transform: translate(-9%, -20%);
          .gallery {
            .thmb {
              a {
                &::after {
                  font-size: 2.4vw;
                  margin: -10% 0 0 -25%;
                  background-size: 2.2vw;
                  padding: 0 1.2em 0 0;
                }
              }
            }
          }
        }
        .prof-box {
          width: 100%;
          .name-area {
            padding-bottom: 4%;
            margin-bottom: 4%;
            &::after {
              width: 100%;
            }
            span {
              display: block;
            }
            .role {
              font-size: 3.4vw;
            }
            .name {
              font-size: 4.2vw;
              .eng {
                display: inline;
                font-size: 3.7vw;
              }
            }
          }
          .text-area {
            .enjoy {
              dt {
                width: 70px;
                padding: 0.2em 0;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.fancybox-container {
  .fancybox-caption {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2em 1em;
    width: 50%;
    margin: 2em auto;
    .message {
      display: block;
      font-size: 17px;
      font-weight: 300;
      max-width: none;
      text-align: center;
      &::before {
        content: '＃';
        opacity: 0.6;
        font-size: 1.2em;
        font-weight: 100;
        font-style: italic;
        transform: translateY(0.1em);
        display: inline-block;
      }
    }
    .location {
      display: block;
      font-size: 14px;
      font-weight: 300;
      text-align: right;
      padding-top: 1em;
      letter-spacing: 0.1em;
      opacity: 0.8;
      &::before {
        content: '＠';
        display: inline-block;
        padding-right: 0.2em;
      }
    }
  }
  .fancybox-thumbs {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
  }
  .fancybox-button--arrow_right,
  .fancybox-button--arrow_left {
    width: 50px;
    height: 50px;
    background-size: 27%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 0 0;
  }
  @include max-screen($bpMobile) {
    .fancybox-caption {
      padding: 1.2em 1em;
      width: 100%;
      margin: 0;
      border: none;
      .message {
        font-size: 14px;
        letter-spacing: 0.2em;
      }
      .location {
        font-size: 12px;
        padding-top: 0.5em;
      }
    }
    .fancybox-button--arrow_right,
    .fancybox-button--arrow_left {
      width: 45px;
      height: 45px;
    }
  }
}

#career {
  h2 {
    margin-bottom: -28px;
  }
  .inner {
    padding-top: 0;
    padding-bottom: 8%;
  }
  .content {
    position: relative;
  }
  .career-area {
    display: flex;
    justify-content: space-between;
    z-index: 9;
    position: relative;
    tbody {
      width: 48%;
      z-index: 9;
      position: relative;
      padding-top: 91px;
      .title {
        .date {
          width: 85px;
          text-align: right;
          padding-right: 1em;
          font-size: 15px;
          font-weight: 100;
        }
        .com-name {
          font-size: 15px;
          font-weight: 400;
        }
      }
      .detail {
        .empty {
          background-color: transparent;
        }
        .text {
          position: relative;
          padding: 0.7em 0 0.7em 1.43em;
          &::after {
            content: '';
            width: 1px;
            height: 84%;
            background-color: rgba(255, 255, 255, 0.4);
            position: absolute;
            top: 50%;
            left: 0.43em;
            transform: translateY(-49%);
          }
          p {
            margin: 0;
            font-size: 14px;
            font-weight: 100;
            line-height: 1.5;
          }
        }
      }
      &::before,
      &::after {
        content: '01';
        width: 100%;
        height: 113px;
        line-height: 98px;
        text-align: center;
        font-size: 145px;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        font-style: italic;
      }
      &::after {
        content: '02';
      }
      &.season-01 {
        &::after {
          display: none;
        }
      }
      &.season-02 {
        margin-top: 35px;
        &::before {
          display: none;
        }
      }
    }
  }
  .season-on-off {
    position: relative;
    &::after {
      content: '';
      width: 1px;
      height: 84%;
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      left: 0.43em;
    }
    &.on::after {
      top: -30px;
    }
    &.off::after {
      top: 35px;
    }
  }
  @include max-screen($bpMobile) {
    h2 {
      margin-bottom: 6%;
    }
    .inner {
      padding-bottom: 10%;
    }
    .career-area {
      display: block;
      tbody {
        width: 100%;
        padding-top: 0;
        .title {
          .date {
            vertical-align: top;
            padding-top: 2px;
            width: 75px;
            font-size: 13px;
            font-weight: 300;
          }
          .com-name {
            font-weight: 400;
          }
        }
        .detail {
          .text {
            position: relative;
            padding: 0.7em 0 0.7em 1.43em;
            p {
              font-size: 13px;
            }
          }
        }
        &::before,
        &::after {
          display: none;
          height: 67px;
          line-height: 55px;
          text-align: right;
          font-size: 85px;
          top: -22px;
          left: auto;
          right: -10px;
        }
        &::after {
          content: '02';
        }
        &.season-01 {
          &::after {
            display: none;
          }
        }
        &.season-02 {
          margin-top: 35px;
          &::before {
            display: none;
          }
        }
      }
    }
    .season-on-off {
      &::after {
        display: none;
      }
    }
  }
}

#skill {
  .inner {
    padding-top: 3%;
    padding-bottom: 12%;
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .skill-list {
    width: 47.5%;
    .box {
      padding-bottom: 25px;
      .name-area {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon {
          width: auto;
          height: 17px;
          padding-right: 0.5em;
          transform: translateY(2px);
          opacity: 0.5;
        }
        .name {
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.06em;
        }
      }
      .skill-parameter {
        width: 100%;
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          display: block;
          width: 9%;
          height: 3px;
          background-color: #fff;
          border-radius: 2px;
          opacity: 0.2;
        }
        &.num1 {
          span {
            &:nth-child(1) {
              opacity: 1;
            }
          }
        }
        &.num2 {
          span {
            &:nth-child(1),
            &:nth-child(2) {
              opacity: 1;
            }
          }
        }
        &.num3 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              opacity: 1;
            }
          }
        }
        &.num4 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              opacity: 1;
            }
          }
        }
        &.num5 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
              opacity: 1;
            }
          }
        }
        &.num6 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              opacity: 1;
            }
          }
        }
        &.num7 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7) {
              opacity: 1;
            }
          }
        }
        &.num8 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
              opacity: 1;
            }
          }
        }
        &.num9 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
              opacity: 1;
            }
          }
        }
        &.num10 {
          span {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  @include max-screen($bpMobile) {
    .wrap {
      display: block;
    }
    .skill-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 6%;
      &:last-child {
        margin-bottom: 0;
      }
      .box {
        width: 47%;
        padding-bottom: 20px;
        .name-area {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .icon {
            height: 15px;
            transform: translateY(0px);
            padding-right: 0.3em;
          }
          .name {
            font-size: 15px;
          }
        }
        .skill-parameter {
          width: 100%;
          margin-top: 3px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            display: block;
            width: 9%;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
            opacity: 0.2;
          }
          &.num1 {
            span {
              &:nth-child(1) {
                opacity: 1;
              }
            }
          }
          &.num2 {
            span {
              &:nth-child(1),
              &:nth-child(2) {
                opacity: 1;
              }
            }
          }
          &.num3 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3) {
                opacity: 1;
              }
            }
          }
          &.num4 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4) {
                opacity: 1;
              }
            }
          }
          &.num5 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5) {
                opacity: 1;
              }
            }
          }
          &.num6 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6) {
                opacity: 1;
              }
            }
          }
          &.num7 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7) {
                opacity: 1;
              }
            }
          }
          &.num8 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(8) {
                opacity: 1;
              }
            }
          }
          &.num9 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9) {
                opacity: 1;
              }
            }
          }
          &.num10 {
            span {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6),
              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10) {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
