@charset "utf-8";

@import '../../scss/breakpoint';

.web-closed-text {
  color: #ff1010;
  font-weight: 400;
  font-size: 15px;
  @include max-screen($bpMobile) {
    font-size: 14px;
    line-height: 1.5;
    text-indent: -1.1em;
    padding-left: 1em;
  }
}

#works {
  .content {
    max-width: 1200px;
    margin: auto;
  }
}

#works {
  h2 {
    margin-bottom: 7%;
  }
  position: relative;
  .inner {
    padding-top: 16%;
    padding-bottom: 10%;
    // background: rgba(0, 0, 0, 0.4);
    // backdrop-filter: blur(5px);
    .organize-box {
      padding-bottom: 7%;
      .name-area {
        line-height: 1.7;
        padding: 20px 0;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        // position: sticky;
        // top: 0;
        &.active {
          padding: 28px 0;
          border-bottom: none;
          background-color: rgba(0, 23, 51, 0.69);
          z-index: 1;
          &::before,
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            background-color: rgba(0, 23, 51, 0.69);
          }
          &::after {
            left: auto;
            right: -100%;
          }
        }
        .organize-name {
          font-size: 20px;
          font-weight: 500;
          margin-top: 5px;
          .sub {
            display: inline;
            font-size: 15px;
            margin-left: 0.5em;
          }
        }
      }
    }
    .works-content-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 2%;
      margin-bottom: 4%;
      &:last-child {
        margin-bottom: 0;
      }
      .works-image {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        .mockup {
          width: 81%;
          &.dev-pc {
            background: url(/works/images/device-pc.svg) no-repeat center;
            background-size: 100%;
            padding: 6% 9% 8.5%;
          }
          &.dev-mbl {
            width: 18%;
            background: url(/works/images/device-mbl.svg) no-repeat center;
            background-size: contain;
            padding: 3% 2%;
            transform: translate(-9%, -10%);
          }
        }
      }
      .works-detail {
        width: 42%;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 3% 2%;
        .project-name {
          line-height: 1.5;
          margin: 14px 0 10px;
          span {
            font-size: 24px;
            display: block;
          }
          .project-url {
            display: block;
            opacity: 0.7;
            font-size: 14px;
            font-weight: 300;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
              opacity: 1;
            }
          }
        }
        .charge {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          li {
            font-size: 14px;
            font-weight: 400;
            &::after {
              content: '/';
              padding: 0 0.5em;
              font-size: 12px;
              transform: translateY(-1px);
              display: inline-block;
              opacity: 0.7;
            }
            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
        .btn-area {
          display: block;
          margin-top: 20px;
          a {
            width: 100%;
            margin-bottom: 15px;
            padding: 0.5em 0;
            background-color: rgba(0, 0, 0, 0.07);
            border-color: rgba(0, 238, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              display: block;
              color: #00f0ff;
              position: relative;
              margin-right: 3px;
            }
            &::after {
              content: '';
              background: url(/image/common/btn/icon-link.svg) no-repeat center;
              background-size: 100%;
              width: 15px;
              height: 14px;
              display: block;
            }
            &:hover {
              opacity: 1;
              box-shadow: inset 2px 2px 0 rgba(0, 238, 255, 0.7),
                inset -2px -2px 0 rgba(0, 238, 255, 0.7);
            }
            &.show-modal {
              &::after {
                background-image: url(/image/common/btn/icon-photo.svg);
                width: 15px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
  .cat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    li {
      width: auto;
      text-align: center;
      background: rgba(255, 255, 255, 0.13);
      font-size: 12px;
      border-radius: 2px;
      padding: 0.1em 0.6em;
      margin: 0 3px 3px 0;
      letter-spacing: 0.1em;
      &.period {
        background: none;
        font-size: 15px;
        text-align: left;
        border-radius: 0;
        margin: 0;
      }
    }
  }

  @include max-screen($bpMobile) {
    h2 {
      margin-bottom: 6%;
    }
    position: relative;
    .inner {
      padding-top: 22%;
      padding-bottom: 10%;
      overflow: hidden;
      .organize-box {
        padding-bottom: 16%;
        .name-area {
          padding: 2% 0 3%;
          margin-bottom: 8%;
          position: relative;
          border-bottom: none;
          &::after {
            content: '';
            width: 200%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.7);
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-6%);
          }
          .organize-name {
            font-size: 16px;
            .sub {
              display: block;
              font-size: 12px;
              margin-left: 0.1em;
              margin-top: 0.5em;
            }
          }
        }
      }
      .works-content-box {
        display: block;
        padding: 0 0 12%;
        margin-bottom: 8%;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
        // background-color: rgba(0, 0, 0, 0.2);
        // &:nth-child(2n) {
        //   background-color: rgba(0, 0, 0, 0.4);
        // }
        .works-image {
          width: 100%;
          margin-bottom: 4%;
          justify-content: space-between;
          // transform: translateX(-2%);
          .mockup {
            width: 82%;
            &.dev-mbl {
              width: 16%;
              transform: translate(-37%, -11%);
            }
          }
        }
        .works-detail {
          width: 100%;
          border: none;
          padding: 0 6.5%;
          .project-name {
            margin-top: 10px;
            span {
              font-size: 18px;
            }
          }
          .btn-area {
            margin-top: 6%;
            a {
              margin-bottom: 4%;
              padding: 2.5% 0;
            }
          }
        }
      }
    }
    .cat {
      li {
        font-size: 11px;
        padding: 0.2em 0.6em 0.3em;
        margin-bottom: 0;
        &.period {
          background: none;
          font-size: 13px;
          text-align: left;
          border-radius: 0;
          margin: 0;
        }
      }
    }
  }
}

.modal-dialog {
  padding: 6%;
  max-width: 1200px;
  margin: auto;
  .modal-content {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    color: #fff;
  }
  .modal-body {
    padding: 6%;
    overflow: hidden;
    position: relative;
    min-height: 90.3vh;
    .item {
      margin-bottom: 8%;
      &:last-child {
        margin-bottom: 4%;
      }
      h3 {
        width: 100%;
        margin-bottom: 3%;
        text-align: center;
        overflow: hidden;
        span {
          font-size: 18px;
          font-weight: 400;
          color: #3a3a3a;
          position: relative;
          display: inline-block;
          &::before,
          &::after {
            content: '';
            width: 100vw;
            height: 1px;
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 50%;
            left: -101.5vw;
            transform: translateY(1px);
          }
          &::after {
            left: auto;
            right: -101.5vw;
            z-index: 0;
          }
        }
      }
      img {
        display: block;
        margin-bottom: 3%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @include max-screen($bpMobile) {
    .modal-body {
      .item {
        &:last-child {
          margin-bottom: 8%;
        }
        h3 {
          span {
            font-size: 15px;
            &::before,
            &::after {
              left: -102vw;
              background: rgba(0, 0, 0, 0.3);
            }
            &::after {
              left: auto;
              right: -102vw;
            }
          }
        }
      }
    }
  }
}
.modal-close-btn {
  width: auto;
  text-align: center;
  background: rgba(137, 0, 0, 0.75);
  border: 0;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 39px;
  right: 39px;
  opacity: 1;
  transition: all 0.3s;
  span {
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    display: block;
    opacity: 1;
    text-shadow: none;
    padding: 0.6em 0 0.8em 0.4em;
    width: 200px;
    letter-spacing: 0.07em;
  }
  &:hover {
    background: rgba(137, 0, 0, 0.8);
    transform: scale(1.08);
  }
  @include max-screen($bpMobile) {
    bottom: 2%;
    right: 3%;
    span {
      font-size: 15px;
      padding: 0.6em 0 0.8em 0.4em;
      width: 115px;
    }
  }
}
