@charset "utf-8";

@import '../../scss/breakpoint';

#asobi {
  h2 {
    margin-bottom: 7%;
  }
  position: relative;
  .inner {
    padding-top: 16%;
    padding-bottom: 10%;
  }
  .content {
    max-width: 1200px;
    margin: auto;
    .box {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      padding: 4%;
      &:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      }
    }
  }
}
